In [ ]:
%tensorflow_version 2.x

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Step 1:**Downloading the data set**

1.   unzipping the data set
2.   Loading the data into data frame as follows


*   questions_df
*   answers_df
*   tags_df

In [ ]:
!wget https://www.dropbox.com/s/5721wcs2guuykzl/stacksample.zip?dl=0

--2021-03-17 03:51:17--  https://www.dropbox.com/s/5721wcs2guuykzl/stacksample.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:6030:18::a27d:5012
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/5721wcs2guuykzl/stacksample.zip [following]
--2021-03-17 03:51:17--  https://www.dropbox.com/s/raw/5721wcs2guuykzl/stacksample.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc9a5738045045b2b6eff4430f02.dl.dropboxusercontent.com/cd/0/inline/BK2Vj8icZlLXf6D-B9j0gYiMHsS5WI2Gu3CACGfP7gbgE-qugydilvwFrgfQxOerPQQGvx-vNJydq82L3pM9KdrFb96nlEnsgwYrJtJ3ZOP3XCq_ILSbg7a-YU0VUKciEFpsj42F8kPeZ95E4Lpvgb77/file# [following]
--2021-03-17 03:51:18--  https://uc9a5738045045b2b6eff4430f02.dl.dropboxusercontent.com/cd/0/inline/BK2Vj8icZlLXf6D-B9j0gYiMHsS5WI2Gu3CACGfP7gbgE-qugydilvwFrgfQxOerPQQGvx-vNJydq82L3pM9KdrFb96nlEnsgwYrJtJ3ZOP3XCq_ILSbg7a-YU0VUKciEFpsj42F8kPeZ95E4Lpvgb77/file
Resolving uc9a5738045045b2b6eff4430f02.dl.dropboxusercontent.com (uc9a5738045045b2b6eff4430f02.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:601c:15::a27d:60f
Connecting to uc9a5738045045b2b6eff4430f02.dl.dropboxusercontent.com (uc9a5738045045b2b6eff4430f02.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BK09-XHLECne1lf38t2pQsHNz34nKI_jZ0oeZYJ4Km6ebpXsDcXEJpTPyToLLvVB0hZRSQ38-uykU6b3qhslm3v5ECdomcB3lcJz0RKvgz-LkYqaaiRugw6aGtZI_ngcsPycKwdv_QiK36hgqkoXBzTd-2IiuA2eh4d-_Tb8br_-cWvW_VQFihNP4Qpk7G7owOBMQrfKrdNjTjFyB8jLzd2uFPQA1tOkjLA1YTvb31GsuqG1Z5qamC6-XVUwYM5WNkkwibaF3kWCjuHWAG9vhaUjWVQxEcS7pgNByaJAajIwdTISdZf9e2m0Lk8rx174yw5N2id78X10oWs0CNL841MKDtygbdGf_7bcrMLpm-qqaogDorrnRZcvkbE3VeZ5f1o/file [following]
--2021-03-17 03:51:19--  https://uc9a5738045045b2b6eff4430f02.dl.dropboxusercontent.com/cd/0/inline2/BK09-XHLECne1lf38t2pQsHNz34nKI_jZ0oeZYJ4Km6ebpXsDcXEJpTPyToLLvVB0hZRSQ38-uykU6b3qhslm3v5ECdomcB3lcJz0RKvgz-LkYqaaiRugw6aGtZI_ngcsPycKwdv_QiK36hgqkoXBzTd-2IiuA2eh4d-_Tb8br_-cWvW_VQFihNP4Qpk7G7owOBMQrfKrdNjTjFyB8jLzd2uFPQA1tOkjLA1YTvb31GsuqG1Z5qamC6-XVUwYM5WNkkwibaF3kWCjuHWAG9vhaUjWVQxEcS7pgNByaJAajIwdTISdZf9e2m0Lk8rx174yw5N2id78X10oWs0CNL841MKDtygbdGf_7bcrMLpm-qqaogDorrnRZcvkbE3VeZ5f1o/file
Reusing existing connection to uc9a5738045045b2b6eff4430f02.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 1231288519 (1.1G) [application/zip]
Saving to: ‘stacksample.zip?dl=0’

stacksample.zip?dl= 100%[===================>]   1.15G  7.70MB/s    in 2m 36s

2021-03-17 03:53:56 (7.54 MB/s) - ‘stacksample.zip?dl=0’ saved [1231288519/1231288519]

In [ ]:
# unzipping the data set

In [ ]:
!unzip '/content/stacksample.zip?dl=0'

Archive:  /content/stacksample.zip?dl=0
  inflating: Answers.csv
  inflating: Questions.csv
  inflating: Tags.csv

In [ ]:
# questions=r'/content/Questions.csv'
# answers=r'/content/Answers.csv'
# tags=r'/content/Tags.csv'

In [ ]:
questions_df=pd.read_csv('../content/Questions.csv',encoding='ISO-8859-1')
answers_df=pd.read_csv('../content/Answers.csv',encoding='ISO-8859-1')
tags_df=pd.read_csv('../content/Tags.csv',encoding='ISO-8859-1')

In [ ]:
# Common encoding used are(try following and see which one suits the data)
# UTF-8
# Latin-1 (also known as ISO-8859-1)
# Windows-1251

In [ ]:
questions_df.head(n=2)

   Id  ...                                               Body
0  80  ...  <p>I've written a database generation script i...
1  90  ...  <p>Are there any really good tutorials explain...

[2 rows x 7 columns]

In [ ]:
answers_df.head(n=2)

    Id  OwnerUserId  ... Score                                               Body
0   92         61.0  ...    13  <p><a href="http://svnbook.red-bean.com/">Vers...
1  124         26.0  ...    12  <p>I wound up using this. It is a kind of a ha...

[2 rows x 6 columns]

In [ ]:
tags_df.head(n=2)

   Id             Tag
0  80            flex
1  80  actionscript-3

## Step 2: **Reducing the problem statement into top 10 tags**

In [ ]:
grouped_tags=tags_df.groupby('Tag').size().reset_index(name='count')

In [ ]:
grouped_tags.head(n=2)

    Tag  count
0    .a     13
1  .app     14

In [ ]:
grouped_tags.Tag.describe()

count        37034
unique       37034
top       hyperref
freq             1
Name: Tag, dtype: object

In [ ]:
#Here we are reducing the problem to the  most common tags in the dataset)
no_classes =10
grouped_tags_copy=grouped_tags.copy()
top_10_tags=grouped_tags_copy.nlargest(no_classes,columns="count")

In [ ]:
top_10_tags

              Tag   count
16121  javascript  124155
16020        java  115212
4301           c#  101186
24211         php   98808
979       android   90659
16611      jquery   78542
25712      python   64601
14180        html   58976
4311          c++   47591
15565         ios   47009

In [ ]:
#filtering the top 10 tags data 
tags_df.Tag=tags_df.Tag.apply(lambda tag : tag if tag in top_10_tags.Tag.values else None)

In [ ]:
tags_df

               Id         Tag
0              80        None
1              80        None
2              80        None
3              90        None
4              90        None
...           ...         ...
3750989  40143360  javascript
3750990  40143360        None
3750991  40143380        None
3750992  40143380        None
3750993  40143380        None

[3750994 rows x 2 columns]

In [ ]:
tags_df.dropna(inplace=True)

In [ ]:
tags_df

               Id         Tag
14            260          c#
18            330         c++
28            650          c#
35            930          c#
39           1010          c#
...           ...         ...
3750974  40143150  javascript
3750981  40143190      python
3750984  40143210         php
3750987  40143340     android
3750989  40143360  javascript

[826739 rows x 2 columns]

## Step 3: **Data Pre-processesing**

1. Preparing the contents of data frame 

*   Removing the html tags of Body column in questions_df
*   Merging the Title and Body column in question_df
* Filtering the Top 10 taged questions_df and merging the question_df & tags_df
*Droping ununcessary columns


2.   Label Creation

*   Tokenization

3.   Spliting the data into Train & Test

In [ ]:
#preparing the contents of dataframe
# to remove the html tags
import re

def strip_html_tags(body):
  regex = re.compile('<.*?>')
  return re.sub(regex,'',body)

In [ ]:
questions_df.head(n=2)

   Id  ...                                               Body
0  80  ...  <p>I've written a database generation script i...
1  90  ...  <p>Are there any really good tutorials explain...

[2 rows x 7 columns]

In [ ]:
questions_df.columns

Index(['Id', 'OwnerUserId', 'CreationDate', 'ClosedDate', 'Score', 'Title',
       'Body'],
      dtype='object')

In [ ]:
questions_df['Body']=questions_df.Body.apply(strip_html_tags)

In [ ]:
questions_df['Body']

0          I've written a database generation script in S...
1          Are there any really good tutorials explaining...
2          Has anyone got experience creating SQL-based A...
3          This is something I've pseudo-solved many time...
4          I have a little game written in C#. It uses a ...
                                 ...
1264211    I am building a custom MVC project and I have ...
1264212    The API docs show that you should be able to m...
1264213    Under minifyEnabled I changed from false to tr...
1264214    I have input which I use to filter my array of...
1264215    I'm running a mocha test and I noticed my chan...
Name: Body, Length: 1264216, dtype: object

In [ ]:
questions_df['Text']=questions_df['Title']+' '+questions_df['Body']

In [ ]:
questions_df['Text']

0          SQLStatement.execute() - multiple queries in o...
1          Good branching and merging tutorials for Torto...
2          ASP.NET Site Maps Has anyone got experience cr...
3          Function for creating color wheels This is som...
4          Adding scripting functionality to .NET applica...
                                 ...
1264211    URL routing in PHP (MVC) I am building a custo...
1264212    Bigquery.Jobs.Insert - Resumable Upload? The A...
1264213    Obfuscating code in android studio Under minif...
1264214    How to fire function after v-model change? I h...
1264215    npm run mocha test - files being cached I'm ru...
Name: Text, Length: 1264216, dtype: object

In [ ]:
questions_df.shape

(1264216, 8)

In [ ]:
tags_df.shape

(826739, 2)

In [ ]:
tags_df.head()

      Id  Tag
14   260   c#
18   330  c++
28   650   c#
35   930   c#
39  1010   c#

In [ ]:
questions_df.sort_values('Id').head()

    Id  ...                                               Text
0   80  ...  SQLStatement.execute() - multiple queries in o...
1   90  ...  Good branching and merging tutorials for Torto...
2  120  ...  ASP.NET Site Maps Has anyone got experience cr...
3  180  ...  Function for creating color wheels This is som...
4  260  ...  Adding scripting functionality to .NET applica...

[5 rows x 8 columns]

In [ ]:
tags_df.sort_values('Id').head()

      Id  Tag
14   260   c#
18   330  c++
28   650   c#
35   930   c#
39  1010   c#

In [ ]:
tags_df.nunique()

Id     706336
Tag        10
dtype: int64

In [ ]:
tags_Ids=list(tags_df['Id'])

In [ ]:
questions_df_top_10=questions_df[questions_df['Id'].isin(tags_Ids)]

In [ ]:
questions_df_top_10

               Id  ...                                               Text
4             260  ...  Adding scripting functionality to .NET applica...
5             330  ...  Should I use nested classes in this case? I am...
8             650  ...  Automatically update version number I would li...
10            930  ...  How do I connect to a database and loop over a...
11           1010  ...  How to get the value of built, encoded ViewSta...
...           ...  ...                                                ...
1264208  40143150  ...  YouTube iFrame API: no ready call, no error ca...
1264210  40143190  ...  How to execute multiline python code from a ba...
1264211  40143210  ...  URL routing in PHP (MVC) I am building a custo...
1264213  40143340  ...  Obfuscating code in android studio Under minif...
1264214  40143360  ...  How to fire function after v-model change? I h...

[706336 rows x 8 columns]

In [ ]:
#merging the data(questions_df_top_10 & tags_df)
questions_df_top_10=questions_df_top_10.merge(tags_df)

In [ ]:
questions_df_top_10.head()

     Id  OwnerUserId  ...                                               Text  Tag
0   260         91.0  ...  Adding scripting functionality to .NET applica...   c#
1   330         63.0  ...  Should I use nested classes in this case? I am...  c++
2   650        143.0  ...  Automatically update version number I would li...   c#
3   930        245.0  ...  How do I connect to a database and loop over a...   c#
4  1010         67.0  ...  How to get the value of built, encoded ViewSta...   c#

[5 rows x 9 columns]

In [ ]:
questions_df_top_10.columns

Index(['Id', 'OwnerUserId', 'CreationDate', 'ClosedDate', 'Score', 'Title',
       'Body', 'Text', 'Tag'],
      dtype='object')

In [ ]:
#droping ununcessary columns
questions_df_top_10.drop(['OwnerUserId','CreationDate','ClosedDate','Score','Title',
       'Body'],axis=1,inplace=True)

In [ ]:
questions_df_top_10.head()

     Id                                               Text  Tag
0   260  Adding scripting functionality to .NET applica...   c#
1   330  Should I use nested classes in this case? I am...  c++
2   650  Automatically update version number I would li...   c#
3   930  How do I connect to a database and loop over a...   c#
4  1010  How to get the value of built, encoded ViewSta...   c#

In [ ]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.preprocessing import MultiLabelBinarizer

In [ ]:
#Label creation 
multiLabelBinarizer = MultiLabelBinarizer()
multiLabelBinarizer.fit([questions_df_top_10.Tag])
multiLabelBinarizer.transform([questions_df_top_10.Tag])

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [ ]:
Labels= multiLabelBinarizer.classes_
Labels

array(['android', 'c#', 'c++', 'html', 'ios', 'java', 'javascript',
       'jquery', 'php', 'python'], dtype=object)

In [ ]:
y=pd.get_dummies(questions_df_top_10.Tag).to_numpy()

In [ ]:
y.shape

(826739, 10)

In [ ]:
#tokenization
max_len = 180 
max_words = 5000
tokenizer = Tokenizer(num_words=max_words,lower=True)
tokenizer.fit_on_texts(questions_df_top_10.Text)

In [ ]:
# vocab_len =len(tokenizer.index_word.keys())
# vocab_len

In [ ]:
tokenizer

In [ ]:
def get_features(text_series):
  # transforms text data to feature_vectors that can be used in the ml model
  #Tokenizer must be available
  sequences = tokenizer.texts_to_sequences(text_series)
  return pad_sequences(sequences,maxlen=max_len)

def predication_to_label(predication):
  tag_prob = [(labels[i],prob) for i , prob in enumerate(predication.tolist())]
  return dict(sorted(tag_prob,key=lambda kv : kv[1],reverse=True))

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x=get_features(questions_df_top_10.Text)

In [ ]:
x.shape

(826739, 180)

In [ ]:
y.shape

(826739, 10)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=123)

## Step 4 : **Model building**




*   CNN (Conv1D) is used

In [ ]:
from tensorflow.keras.layers import  Activation, Dense, Dropout, Input, Embedding
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Embedding, Flatten, GlobalMaxPool1D, Dropout, Conv1D
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping, ModelCheckpoint
from tensorflow.keras.losses import binary_crossentropy
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Model

#CNN---Conv1D

In [ ]:
filter_length = 300

model = Sequential()
model.add(Embedding(max_words+1, 20, input_length=max_len))
model.add(Dropout(0.1))
model.add(Conv1D(filter_length, 3, padding='valid', activation='relu', strides=1))
model.add(GlobalMaxPool1D())
model.add(Dense(no_classes))
model.add(Activation('sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['categorical_accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 180, 20)           100020
_________________________________________________________________
dropout (Dropout)            (None, 180, 20)           0
_________________________________________________________________
conv1d (Conv1D)              (None, 178, 300)          18300
_________________________________________________________________
global_max_pooling1d (Global (None, 300)               0
_________________________________________________________________
dense (Dense)                (None, 10)                3010
_________________________________________________________________
activation (Activation)      (None, 10)                0
=================================================================
Total params: 121,330
Trainable params: 121,330
Non-trainable params: 0
_________________________________________________________________


 **Note** :
  
  If you need more accuracy 
  kindly use vocab_len instead of max_words  
  
  you use following code.
 


 * Vocab_len =len(tokenizer.index_word.keys())

In [ ]:
model.fit(x_train,y_train,epochs=100,validation_split=0.2)

Epoch 1/100
16535/16535 [==============================] - 146s 7ms/step - loss: 0.1507 - categorical_accuracy: 0.6838 - val_loss: 0.1113 - val_categorical_accuracy: 0.7665
Epoch 2/100
16535/16535 [==============================] - 112s 7ms/step - loss: 0.1105 - categorical_accuracy: 0.7657 - val_loss: 0.1101 - val_categorical_accuracy: 0.7642
Epoch 3/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.1082 - categorical_accuracy: 0.7691 - val_loss: 0.1091 - val_categorical_accuracy: 0.7669
Epoch 4/100
16535/16535 [==============================] - 114s 7ms/step - loss: 0.1067 - categorical_accuracy: 0.7725 - val_loss: 0.1083 - val_categorical_accuracy: 0.7693
Epoch 5/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.1058 - categorical_accuracy: 0.7745 - val_loss: 0.1076 - val_categorical_accuracy: 0.7676
Epoch 6/100
16535/16535 [==============================] - 112s 7ms/step - loss: 0.1050 - categorical_accuracy: 0.7755 - val_loss: 0.1089 - val_categorical_accuracy: 0.7691
Epoch 7/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1043 - categorical_accuracy: 0.7775 - val_loss: 0.1110 - val_categorical_accuracy: 0.7630
Epoch 8/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1041 - categorical_accuracy: 0.7782 - val_loss: 0.1075 - val_categorical_accuracy: 0.7699
Epoch 9/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1035 - categorical_accuracy: 0.7795 - val_loss: 0.1099 - val_categorical_accuracy: 0.7662
Epoch 10/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1033 - categorical_accuracy: 0.7799 - val_loss: 0.1080 - val_categorical_accuracy: 0.7661
Epoch 11/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1023 - categorical_accuracy: 0.7820 - val_loss: 0.1080 - val_categorical_accuracy: 0.7674
Epoch 12/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1023 - categorical_accuracy: 0.7814 - val_loss: 0.1082 - val_categorical_accuracy: 0.7675
Epoch 13/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1022 - categorical_accuracy: 0.7823 - val_loss: 0.1106 - val_categorical_accuracy: 0.7646
Epoch 14/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1020 - categorical_accuracy: 0.7820 - val_loss: 0.1087 - val_categorical_accuracy: 0.7657
Epoch 15/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1021 - categorical_accuracy: 0.7820 - val_loss: 0.1095 - val_categorical_accuracy: 0.7631
Epoch 16/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1021 - categorical_accuracy: 0.7820 - val_loss: 0.1095 - val_categorical_accuracy: 0.7578
Epoch 17/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1014 - categorical_accuracy: 0.7834 - val_loss: 0.1083 - val_categorical_accuracy: 0.7670
Epoch 18/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1010 - categorical_accuracy: 0.7846 - val_loss: 0.1088 - val_categorical_accuracy: 0.7654
Epoch 19/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1012 - categorical_accuracy: 0.7840 - val_loss: 0.1105 - val_categorical_accuracy: 0.7663
Epoch 20/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1011 - categorical_accuracy: 0.7837 - val_loss: 0.1105 - val_categorical_accuracy: 0.7627
Epoch 21/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1011 - categorical_accuracy: 0.7838 - val_loss: 0.1088 - val_categorical_accuracy: 0.7660
Epoch 22/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1005 - categorical_accuracy: 0.7853 - val_loss: 0.1084 - val_categorical_accuracy: 0.7659
Epoch 23/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1006 - categorical_accuracy: 0.7854 - val_loss: 0.1097 - val_categorical_accuracy: 0.7653
Epoch 24/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1007 - categorical_accuracy: 0.7842 - val_loss: 0.1089 - val_categorical_accuracy: 0.7639
Epoch 25/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.1002 - categorical_accuracy: 0.7869 - val_loss: 0.1094 - val_categorical_accuracy: 0.7643
Epoch 26/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1000 - categorical_accuracy: 0.7867 - val_loss: 0.1098 - val_categorical_accuracy: 0.7620
Epoch 27/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1003 - categorical_accuracy: 0.7858 - val_loss: 0.1109 - val_categorical_accuracy: 0.7629
Epoch 28/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1002 - categorical_accuracy: 0.7854 - val_loss: 0.1094 - val_categorical_accuracy: 0.7653
Epoch 29/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.1002 - categorical_accuracy: 0.7858 - val_loss: 0.1097 - val_categorical_accuracy: 0.7649
Epoch 30/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0999 - categorical_accuracy: 0.7872 - val_loss: 0.1095 - val_categorical_accuracy: 0.7644
Epoch 31/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.0996 - categorical_accuracy: 0.7870 - val_loss: 0.1103 - val_categorical_accuracy: 0.7613
Epoch 32/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0997 - categorical_accuracy: 0.7877 - val_loss: 0.1105 - val_categorical_accuracy: 0.7615
Epoch 33/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0994 - categorical_accuracy: 0.7872 - val_loss: 0.1103 - val_categorical_accuracy: 0.7637
Epoch 34/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0993 - categorical_accuracy: 0.7878 - val_loss: 0.1097 - val_categorical_accuracy: 0.7632
Epoch 35/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.0997 - categorical_accuracy: 0.7870 - val_loss: 0.1117 - val_categorical_accuracy: 0.7623
Epoch 36/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0998 - categorical_accuracy: 0.7868 - val_loss: 0.1104 - val_categorical_accuracy: 0.7611
Epoch 37/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0989 - categorical_accuracy: 0.7886 - val_loss: 0.1104 - val_categorical_accuracy: 0.7583
Epoch 38/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0997 - categorical_accuracy: 0.7872 - val_loss: 0.1104 - val_categorical_accuracy: 0.7616
Epoch 39/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0994 - categorical_accuracy: 0.7881 - val_loss: 0.1108 - val_categorical_accuracy: 0.7612
Epoch 40/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0989 - categorical_accuracy: 0.7890 - val_loss: 0.1104 - val_categorical_accuracy: 0.7580
Epoch 41/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0989 - categorical_accuracy: 0.7888 - val_loss: 0.1111 - val_categorical_accuracy: 0.7581
Epoch 42/100
16535/16535 [==============================] - 112s 7ms/step - loss: 0.0990 - categorical_accuracy: 0.7894 - val_loss: 0.1110 - val_categorical_accuracy: 0.7571
Epoch 43/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0992 - categorical_accuracy: 0.7887 - val_loss: 0.1117 - val_categorical_accuracy: 0.7615
Epoch 44/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0989 - categorical_accuracy: 0.7883 - val_loss: 0.1124 - val_categorical_accuracy: 0.7557
Epoch 45/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.0993 - categorical_accuracy: 0.7877 - val_loss: 0.1113 - val_categorical_accuracy: 0.7560
Epoch 46/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0991 - categorical_accuracy: 0.7877 - val_loss: 0.1104 - val_categorical_accuracy: 0.7568
Epoch 47/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.0988 - categorical_accuracy: 0.7886 - val_loss: 0.1115 - val_categorical_accuracy: 0.7578
Epoch 48/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0990 - categorical_accuracy: 0.7885 - val_loss: 0.1105 - val_categorical_accuracy: 0.7632
Epoch 49/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0989 - categorical_accuracy: 0.7895 - val_loss: 0.1118 - val_categorical_accuracy: 0.7612
Epoch 50/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0987 - categorical_accuracy: 0.7898 - val_loss: 0.1111 - val_categorical_accuracy: 0.7602
Epoch 51/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.0985 - categorical_accuracy: 0.7900 - val_loss: 0.1108 - val_categorical_accuracy: 0.7614
Epoch 52/100
16535/16535 [==============================] - 109s 7ms/step - loss: 0.0986 - categorical_accuracy: 0.7893 - val_loss: 0.1114 - val_categorical_accuracy: 0.7611
Epoch 53/100
16535/16535 [==============================] - 110s 7ms/step - loss: 0.0981 - categorical_accuracy: 0.7910 - val_loss: 0.1116 - val_categorical_accuracy: 0.7579
Epoch 54/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0987 - categorical_accuracy: 0.7899 - val_loss: 0.1115 - val_categorical_accuracy: 0.7608
Epoch 55/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0988 - categorical_accuracy: 0.7891 - val_loss: 0.1115 - val_categorical_accuracy: 0.7609
Epoch 56/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0986 - categorical_accuracy: 0.7898 - val_loss: 0.1110 - val_categorical_accuracy: 0.7622
Epoch 57/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0986 - categorical_accuracy: 0.7895 - val_loss: 0.1123 - val_categorical_accuracy: 0.7615
Epoch 58/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0982 - categorical_accuracy: 0.7911 - val_loss: 0.1136 - val_categorical_accuracy: 0.7539
Epoch 59/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0982 - categorical_accuracy: 0.7909 - val_loss: 0.1115 - val_categorical_accuracy: 0.7599
Epoch 60/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0981 - categorical_accuracy: 0.7904 - val_loss: 0.1108 - val_categorical_accuracy: 0.7595
Epoch 61/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0983 - categorical_accuracy: 0.7898 - val_loss: 0.1112 - val_categorical_accuracy: 0.7609
Epoch 62/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0986 - categorical_accuracy: 0.7903 - val_loss: 0.1121 - val_categorical_accuracy: 0.7605
Epoch 63/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0982 - categorical_accuracy: 0.7909 - val_loss: 0.1137 - val_categorical_accuracy: 0.7496
Epoch 64/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0979 - categorical_accuracy: 0.7913 - val_loss: 0.1116 - val_categorical_accuracy: 0.7592
Epoch 65/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0982 - categorical_accuracy: 0.7903 - val_loss: 0.1117 - val_categorical_accuracy: 0.7579
Epoch 66/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0979 - categorical_accuracy: 0.7915 - val_loss: 0.1113 - val_categorical_accuracy: 0.7605
Epoch 67/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0981 - categorical_accuracy: 0.7907 - val_loss: 0.1118 - val_categorical_accuracy: 0.7538
Epoch 68/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0983 - categorical_accuracy: 0.7907 - val_loss: 0.1134 - val_categorical_accuracy: 0.7605
Epoch 69/100
16535/16535 [==============================] - 112s 7ms/step - loss: 0.0983 - categorical_accuracy: 0.7901 - val_loss: 0.1121 - val_categorical_accuracy: 0.7600
Epoch 70/100
16535/16535 [==============================] - 112s 7ms/step - loss: 0.0981 - categorical_accuracy: 0.7898 - val_loss: 0.1113 - val_categorical_accuracy: 0.7600
Epoch 71/100
16535/16535 [==============================] - 112s 7ms/step - loss: 0.0980 - categorical_accuracy: 0.7911 - val_loss: 0.1125 - val_categorical_accuracy: 0.7573
Epoch 72/100
16535/16535 [==============================] - 112s 7ms/step - loss: 0.0977 - categorical_accuracy: 0.7915 - val_loss: 0.1122 - val_categorical_accuracy: 0.7572
Epoch 73/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0982 - categorical_accuracy: 0.7901 - val_loss: 0.1110 - val_categorical_accuracy: 0.7610
Epoch 74/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0979 - categorical_accuracy: 0.7918 - val_loss: 0.1131 - val_categorical_accuracy: 0.7597
Epoch 75/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0980 - categorical_accuracy: 0.7909 - val_loss: 0.1121 - val_categorical_accuracy: 0.7580
Epoch 76/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0979 - categorical_accuracy: 0.7908 - val_loss: 0.1122 - val_categorical_accuracy: 0.7613
Epoch 77/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0979 - categorical_accuracy: 0.7908 - val_loss: 0.1129 - val_categorical_accuracy: 0.7582
Epoch 78/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0977 - categorical_accuracy: 0.7915 - val_loss: 0.1116 - val_categorical_accuracy: 0.7575
Epoch 79/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0980 - categorical_accuracy: 0.7913 - val_loss: 0.1116 - val_categorical_accuracy: 0.7609
Epoch 80/100
16535/16535 [==============================] - 111s 7ms/step - loss: 0.0978 - categorical_accuracy: 0.7911 - val_loss: 0.1126 - val_categorical_accuracy: 0.7591
Epoch 81/100
16535/16535 [==============================] - 112s 7ms/step - loss: 0.0979 - categorical_accuracy: 0.7918 - val_loss: 0.1119 - val_categorical_accuracy: 0.7568
Epoch 82/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0981 - categorical_accuracy: 0.7904 - val_loss: 0.1131 - val_categorical_accuracy: 0.7580
Epoch 83/100
16535/16535 [==============================] - 112s 7ms/step - loss: 0.0977 - categorical_accuracy: 0.7913 - val_loss: 0.1124 - val_categorical_accuracy: 0.7561
Epoch 84/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0977 - categorical_accuracy: 0.7922 - val_loss: 0.1143 - val_categorical_accuracy: 0.7541
Epoch 85/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0977 - categorical_accuracy: 0.7924 - val_loss: 0.1131 - val_categorical_accuracy: 0.7554
Epoch 86/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0978 - categorical_accuracy: 0.7918 - val_loss: 0.1121 - val_categorical_accuracy: 0.7597
Epoch 87/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0974 - categorical_accuracy: 0.7915 - val_loss: 0.1128 - val_categorical_accuracy: 0.7598
Epoch 88/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0977 - categorical_accuracy: 0.7917 - val_loss: 0.1127 - val_categorical_accuracy: 0.7603
Epoch 89/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0974 - categorical_accuracy: 0.7919 - val_loss: 0.1137 - val_categorical_accuracy: 0.7580
Epoch 90/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0974 - categorical_accuracy: 0.7931 - val_loss: 0.1125 - val_categorical_accuracy: 0.7571
Epoch 91/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0975 - categorical_accuracy: 0.7921 - val_loss: 0.1125 - val_categorical_accuracy: 0.7560
Epoch 92/100
16535/16535 [==============================] - 114s 7ms/step - loss: 0.0975 - categorical_accuracy: 0.7918 - val_loss: 0.1127 - val_categorical_accuracy: 0.7594
Epoch 93/100
16535/16535 [==============================] - 114s 7ms/step - loss: 0.0976 - categorical_accuracy: 0.7919 - val_loss: 0.1130 - val_categorical_accuracy: 0.7574
Epoch 94/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0975 - categorical_accuracy: 0.7928 - val_loss: 0.1131 - val_categorical_accuracy: 0.7541
Epoch 95/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0974 - categorical_accuracy: 0.7913 - val_loss: 0.1127 - val_categorical_accuracy: 0.7585
Epoch 96/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0974 - categorical_accuracy: 0.7915 - val_loss: 0.1131 - val_categorical_accuracy: 0.7579
Epoch 97/100
16535/16535 [==============================] - 113s 7ms/step - loss: 0.0978 - categorical_accuracy: 0.7908 - val_loss: 0.1129 - val_categorical_accuracy: 0.7554
Epoch 98/100
16535/16535 [==============================] - 114s 7ms/step - loss: 0.0977 - categorical_accuracy: 0.7916 - val_loss: 0.1132 - val_categorical_accuracy: 0.7565
Epoch 99/100
16535/16535 [==============================] - 114s 7ms/step - loss: 0.0977 - categorical_accuracy: 0.7914 - val_loss: 0.1150 - val_categorical_accuracy: 0.7606
Epoch 100/100
16535/16535 [==============================] - 114s 7ms/step - loss: 0.0977 - categorical_accuracy: 0.7915 - val_loss: 0.1128 - val_categorical_accuracy: 0.7583

In [ ]:
y_pred = model.predict_classes(x_test)

In [ ]:
y_pred

array([6, 1, 3, ..., 1, 4, 6])

## Step 5: ***Evaluvation ***

In [ ]:
model.evaluate(x_test,y_test)

5168/5168 [==============================] - 15s 3ms/step - loss: 0.1131 - categorical_accuracy: 0.7574

[0.11309224367141724, 0.7573723196983337]

## **Loss**: 0.1140  , **Categorical_accuracy**: 0.7552

In [ ]:
# loss: 0.1140 - categorical_accuracy: 0.7552
# [0.11403822153806686, 0.7551950812339783]